/*Responsive header*/
@media (max-width: 1212px) {
    .first-nav .navbar-collapse .search-nav form input{
        width: 474px;
    }
}
@media (max-width: 1212px) {
    .first-nav .navbar-collapse .search-nav form input{
        width: 400px;
    }
}
@media (max-width: 1046px) {
    .first-nav .navbar-collapse .search-nav form input{
        width: 350px;
    }
}
@media (max-width: 991px) {
    .navbar-toggler{
        padding: 0;
    }
    .second-nav .navbar-expand-lg{
        padding: 0;
        margin:  0 18px;
    }
    .second-nav .search-second-nav {
        display: block;
    }

    .first-nav .social-contact, .first-nav .cart-nav,.first-nav .search-nav {
        display: none;
    }
    .first-nav .collapse.show{
        margin: 0;
    }
    .first-nav .navbar-top {
        text-align: center;
    }

    .first-nav .navbar-top .navbar-brand {
        margin: 0 auto;
    }

    .navbar-toggler-icon {
        width: 35px;
        height: 35px;
    }
    .first-nav .navbar-brand img{
        margin: 0;
    }
}
@media (max-width: 676px) {
    .second-nav .search-second-nav form input{
        width: 474px;
    }
    .second-nav .search-second-nav form i{
        position: absolute;
        display: inline-block;
        width: 12.23px;
        height: 12.22px;
        left:4%
    }
}
@media (max-width: 574px) {
    .second-nav .search-second-nav form input{
        width: 374px;
    }
}
@media (max-width: 574px) {
    .second-nav .search-second-nav form input{
        width: 274px;
    }
}
@media (max-width: 370px) {
    .second-nav .search-second-nav form input{
        width: 200px;
    }
}
@media (max-width: 670px) {
    .sideMenu{
        width: 45%;
    }
}
@media (max-width: 400px) {
    .sideMenu{
        width: 55%;
    }
}
@media (max-width: 460px) {
    .second-nav .sideMenu ul .nav-link , .sideMenu .dropdown-menu-n .dropdown-item{
        font-size: 16px;
    }
    .sideMenu .dropdown-second-menu-s a{
        font-size: 14px;
    }
}